{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>AI Program</title>

        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <meta charset="UTF-8">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
        <script src="{% static 'javascript/main.js' %}"></script>
        <script src="{% static 'javascript/sketch.js' %}"></script>
        
    </head>

    <body>
        <img class="bg" src="{% static 'images/bg.png' %}">
        <img class="bg" src="{% static 'images/bg.png' %}">

        <button id="startRecording">Start Recording</button>
        <button id="stopRecording" disabled>Stop Recording</button>
        <div id="audio"></div>
        <div id="output"></div>
        <!-- <div id="response"></div> -->
        <input type="text" id="message" placeholder="Ask me anything">
        <button id="ask" class="image-button"><img src="{% static 'images/send.png' %}"></button>
        <p id="response" class="bubble speech"></p>
    </body>
</html>